
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Links</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                    
                    <div class="col-sm-4 portfolio-item">
                        <a href="https://wiki.waze.com/wiki/India" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-3x">Wiki</i>
                                </div>
                            </div>
                            <img src="img/Wiki.png" class="img-responsive" alt="Wiki Waze India">
                        </a>
                    </div>
                    
                    <div class="col-sm-4 portfolio-item">
                        <a href="http://wazeindia.herokuapp.com/" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-3x">Slack</i>
                                </div>
                            </div>
                            <img src="img/Slack.png" class="img-responsive" alt="Slack Waze India">
                        </a>
                    </div>
                    
                    <div class="col-sm-4 portfolio-item">
                        <a href="http://editors.wazeindia.in" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-3x">Editor tools</i>
                                </div>
                            </div>
                            <img src="img/EditorTools.png" class="img-responsive" alt="Slack Waze India">
                        </a>
                    </div>
                    
                    <div class="col-sm-3 portfolio-item">
                        <a href="https://www.waze.com/forum/viewforum.php?f=171" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-3x">Forum</i>
                                </div>
                            </div>
                            <img src="img/Forum.png" class="img-responsive" alt="Forum Waze India">
                        </a>
                    </div>
                    
                    <div class="col-sm-3 portfolio-item">
                        <a href="waze.com/get" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-3x">Waze App</i>
                                </div>
                            </div>
                            <img src="img/Waze.png" class="img-responsive" alt="Waze App">
                        </a>
                    </div>
                
                
                <div class="col-sm-3 portfolio-item">
                        <a href="https://www.facebook.com/WazeIndia" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-3x">Facebook</i>
                                </div>
                            </div>
                            <img src="img/Facebook.png" class="img-responsive" alt="Facebook Waze India">
                        </a>
                    </div>
                    <div class="col-sm-3 portfolio-item">
                        <a href="https://twitter.com/wazeindia" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-3x">Twitter</i>
                                </div>
                            </div>
                            <img src="img/Twitter-Blue.png" class="img-responsive" alt="Twitter Waze India">
                        </a>
                    </div>
                    
                    
            </div>
        </div>
    </section>
